input {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  height: 50px;
  font-size: 16px; /* Increase font-size */
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.title_card {
			width: 35%;
			height: 50px;
			margin-top: 20px;
			margin-bottom: auto;
            font-weight: bolder;
            font-size:160%;
            text-align: center;
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;

		}

option {
    font-size: 20px;
}

option:hover {
  background-color: blue;
}
.button_card {
			width: 30%;
			margin-top: 690px;
			background: #9cb8ba;
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

.user_card {
			width: 60%;
			margin-top: 120px;
			margin-bottom: auto;
			background: #9cb8ba;
			position: absolute;
			display: flex;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		textarea {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  height: 150px;
  margin: 3px;

  font-size: 200%; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
}



.gewählt_card {
			width: 60%;
			margin-top: 435px;
			background: #9cb8ba;
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

#myUL1 {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myInput1 {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  font-weight: regular;
  color: black; /* Add a black text color */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL1 li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL1 li a:hover:not(.header) {
  background-color: #B6D8D4; /* Add a hover effect to all links, except for headers */
}

#myUL1 li a:focus {
  background: #749793;
}












#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myInput {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  font-weight: regular;
  color: black; /* Add a black text color */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #B6D8D4; /* Add a hover effect to all links, except for headers */
}

#myUL li a:focus {
  background: #749793;
}

#myUL2 {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL2 li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
span2 {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  background-color: #f6f6f6;
  height: 50px;
  font-size: 16px; /* Increase font-size */
  color: black;
  padding: 12px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.column {
    float: left;
    width: 48.3%;
    margin-left:1.7%;
}


.column2 {
    float: left;
    width: 4%;
    margin-left:5%;
    cursor: pointer;
}



.column3 {
float: left;
    width: 10%;
    margin-left: 1%;
    cursor: pointer;
}

.column5 {
		margin-left: 1%;
    float: left;
    width: 20%;
}

#myUL3 {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL3 li a {
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}


    .popup {
	background-color: rgba(0, 0, 0, 0.8);
	width:100%;
	height: 100%;
	position: absolute;
	margin-left:-15px;
	padding-left:0px;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.popup-content {
	height: 400px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}


.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

#myDiv {
  background-repeat: no-repeat;
  border: 1px solid #ddd; /* Add a border to all links */
  height: 50px;
  background-color: #2a2a3b; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px/* Do not repeat the icon image */
  width: 100%; /* Full-width */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  font-weight: regular;
  color: #f0f0f5; /* Add a black text color */
  border: 1px solid #ddd; /* Add a grey border */
}


.step {
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: #c1dcde;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px #6d878a;
  display: inline-block;
  opacity: 0.5;
}

.active {
height: 18px;
  width: 18px;
  margin: 0 2px;
  box-shadow: 0px 0px 3px 3px #6d878a;
  background-color: #c1dcde;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
}
